{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="tag">
            <h2>Tag Hinzufügen</h2>
            <hr class="separator">
            {{ form(form) }}

        </div>
    </div>

{% endblock %}