{%  include '/includes/header.html.twig' %}
{% block body %}
<div class="container about  py-3">
    <h4 class="text-center text-secondary ">Das ist About Page</h4>
    <div class="row">
        <div class="col-lg-3">
   <img height="150"  width="280" src="a.jpg">
        </div>
        <div class="col-lg-6">

           <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
           </p>
        </div>
        <div class="col-lg-3 list-group">
            <div class="list-unstyled">
                <a class="list-group-item">#categories</a>
                <a  class="list-group-item">#Tags</a>
                <a  class="list-group-item">Online-learning</a>
                <a class="list-group-item">Others</a>
            </div>

        </div>
    </div>
</div>






{% endblock %}
{% include 'includes/footer.html.twig' %}