{% include 'includes/header.html.twig' %}
{% block body %}


<div class="contact">

<div class="contact-form">

    <h2 class="text-secondary text-center py-3">Contact Form</h2>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries
        Lore
    </p>
    <form>
        <input class="form-control" type="email" placeholder="Enter your Email" >
        <input  class="form-control" type="password" placeholder="Enter your Password">
        <textarea  class="form-control"  placeholder="Enter your Text here"></textarea>
        <input type="submit" class="btn btn-outline-success btn-block" value="Send">

    </form>

</div>
    <div>

        <h5 class="p-3">Email & Tel</h5>
        <ul class="list-unstyled ">
            <li>Mobile:0178453149</li>

            <li>address: ludwigshafen</li>
            <li>land: Deutschland</li>
            <li>Email:aziz.waly6@gmail.com</li>

        </ul>
        <img height="270"  width="510" src="a.jpg">
    </div>

</div>
{% endblock %}


{% include 'includes/footer.html.twig' %}