{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="post" style="">
            <h2>Content Hinzufügen </h2>
            <hr class="separator">
           {{ form(form) }}
        </div>
    </div>
{% endblock %}