{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="post">
            <h2>Bearbeiten </h2>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}